name: Build script JAR

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ script-nike, script-snkrs, script-bdga-store, script-tgtg ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build
        run:
          ./gradlew ${{ matrix.module }}:scriptJar
      - name: Store jar
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module }}-${{ github.ref_name }}-release
          path: ${{ matrix.module }}/build/obfuscated/release.jar